/* General body styling */
body {
    font-family: "inter", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffefe;
  }

  :root{
    margin: 0;
    padding: 0;
    --defGreen: #06E46D;
    --defgraywhite: #F5F5F5;
    --footergray: #2C2E2D;
  }
  a{
    text-decoration: none;
  }

/*navigation bar styling*/
.navbar {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  }
  .navbar-brand {
    font-weight: bold;
    color: #2c2d2e !important;
    font-size: 1.6rem;
    padding-top: 16px;
  }
  .container {
    margin-top: -10px;
  }
  
  .nav-link {
    font-size: 1.4rem;
    color: #2c2d2e;
    padding-top: 15px;
  }
  
  .navbar-toggler:hover{
    background-color: #06d192;
  }
  #profile-button {
    font-weight: bold;
    display: inline-block;
    padding: 5px 35px;
    margin-top: 10px;
    margin-left: 0.5px;
    background-color: #06d192; 
    color: #2c2d2e; 
    text-align: center;
    border-radius: 20px; 
    border: 2px solid #2c2d2e;
    font-size: 20px;
    transition: background-color 0.3s; 
    cursor: pointer; 
    text-decoration: none; 
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  }

  h3{
    text-align: center;
    color: #fffefe;
    border: 2rem #2c2d2e;
    padding: 10px;
  }

p{
    padding-top: 10px;
    font-weight: bold;
}
  
  #ratingContainerTitle{
    background-color: #06d192;
    border-radius: 10px;
    border: 2px solid #2c2d2e;
    padding-bottom: 15px;
  }

  #ratignContent{
    background-color: #fffefe;
    border-radius: 10px;  
    padding-bottom: 10px;
  }
  
  /* Star Rating Styling*/
  .starRating{
    color: #ffe400;
  }

  .starRating input {
    display: none;
  }

  .starRating input + label{
    font-size: 25px;
    text-shadow: 1px 1px 0 #ffe400;
    cursor: pointer;
  }

  .starRating input:checked + label ~ label{
    color: #838383;
  }

  .starRating label:active{
    transform: scale(0.8);
    transition: 0.3s ease;
  }




 .btn {
    display: inline-block;
  padding: 5px 25px;
  margin-top: 0.6rem;
  margin-bottom: 0rem;
  margin-left: 0.5px;
  margin-right: 1.2rem;
  background-color: #2fd556; 
  color: #2c2d2e; 
  text-align: center;
  border-radius: 20px; 
  border: 1px solid #2c2d2e;
  font-size: 20px;
  transition: background-color 0.3s; 
  cursor: pointer;
  text-decoration: none; 
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
 }



 .footer {
  background-color: #f8f9fa;
  color: #666;
  text-align: start;
  padding: 10px;
  left: 1;
  bottom: 0;
  width: 100%;
  
}     

 footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--defGreen);
  padding: 15px;
  margin-top: 15px;
}

.footertitle{
  flex: 1 1 50%;
  margin-left: 0px;
  font-size: 2rem !important;
}

.titles{
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--footergray);
}

.paras{
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--footergray);

}

.copyright{
  font-size: calc(0.3rem + 1.5vw);
  font-weight: 800;
  color: var(--footergray);
  margin-left: 20px;
}

.footerexplore{
  flex: 1 1 15%;
  text-align: center;
}

.footerinfo{
  flex: 1 1 15%;
  text-align: center;
}

.footerapps{
  flex: 1 1 15%;
  text-align: center;
}

footer img{
  width: 30px;
  height: auto;
  margin-left: 10px;
}


@media (max-width: 711px){
  .footertitle{
      flex: 1 1 20%;
      margin-left: 20px;
      font-size: 2rem !important;
  }
}


@media (max-width: 508px){
  footer{
      flex-direction: column;
  }

  .footertitle{
      width: fit-content;
      margin-left: auto !important;
      margin-right: auto !important;
  }

  .copyright{
      width: fit-content;
      margin-left: auto !important;
      margin-right: auto !important;
      font-size: 0.8rem;
  }
}



