/* General body styling */
body {
  font-family: "inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFFEFE;
}

/* Navbar styling */
.navbar-brand {
  font-weight: bold;
  color: #007bff !important;
}

/* Header section */
h1 {
  color: #333;
  font-size: 36px;
  padding-top: 20px;
  font-weight: medium;
}

/* Event description and details */
#description {
  color: #2c2d2e;
  line-height: 1.4;
}

/* Form styling */
form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: bold;
  color: #333;
}

.form-select,
.form-control {
  margin-top: 5px;
  margin-bottom: 15px;
}

/* Submit button styling */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Event-page-image*/
#Event-page-image {
  border: 2px solid #2c2d2e;
  border-radius: 15px;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

/* Footer styling */
.footer {
  background-color: #f8f9fa;
  color: #666;
  text-align: center;
  padding: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
}

.text-muted {
  color: #6c757d !important;
}

/* Card styling */
.card {
  border-width: 2px;
  border-color: #2c2d2e;
  border-radius: 20px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  padding: 0px 8px 8px 8px;
  text-align: justify;
}

.event-info {
  margin-bottom: 0.6rem;
}
/* Icons from Bootstrap Icons */
.bi {
  padding-right: 5px;
}

.icon {
  font-size: 1.2rem;
  font-style: normal;
}

.icon-name {
  font-size: 1.2rem;
  padding-left: 1.1rem;
}
.card-title {
  font-weight: medium;
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
}

/* Adjust padding and margin for card text */
.card-text {
  font-size: 1rem;
  color: #2c2d2e;
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

/* Styling for buttons, particularly the 'Apply' button */
.btn-success {
  color: #2c2d2e;
  background-color: #2fd556;
  border-color: #2c2d2e;
  border-radius: 20px; /* Rounded borders */
  padding: 10px 50px; /* Larger padding for better touch area */
  font-size: 1.2rem;
  line-height: 0.7;
  margin: 0.5rem 1rem 0rem 2rem;
}

.btn-success:hover {
  background-color: #2fd556;
  color: #fff;
}

.tags {
  margin-bottom: 1rem;
}

/* .tag {
  margin-left: 1.5rem;
  margin-right: 1rem;
  padding: 0.8rem 1rem;

  color: #2c2d2e;
  background-color: #2fd556;
  border: 1px solid #2c2d2e;
  border-radius: 30px;
  font-weight: bold;
  font-size: 1.1rem;
} */

.tag {
  display: inline-block;
  padding: 5px 25px;
  margin-bottom: 1rem;
  margin-left: 0.5px;
  margin-right: 1.2rem;
  background-color: #06D192; /* Green background */
  color: #2c2d2e; /* White text color */
  text-align: center;
  border-radius: 20px; /* Rounded corners */
  border: 1px solid #2c2d2e;
  font-size: 20px;
  transition: background-color 0.3s; /* Transition for hover effect */
  cursor: pointer; /* Change mouse cursor to pointer */
  text-decoration: none; /* Remove underline from anchors */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
.tag:hover {
  background-color: #2fd556; /* Darker shade of green */
  color: #fff;
}

.form-check-label{
  line-height: 2rem;
  font-weight: medium;
}
#form-container {
  border-radius: 10px;
  background-color: #06D192;
  border: 2px solid #2c2d2e;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

#form-title {
  text-align: center;
  color: #fff;
}
#question-container {
  border-radius: 10px;
  background-color: #F5F5F5;
  border: 2rem solid #2c2d2e;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}


.submit-button {
  display: inline-block;
  padding: 5px 25px;
  margin-bottom: 1rem;
  margin-left: 0.5px;
  margin-right: 1.2rem;
  background-color: #2fd556; /* Green background */
  color: #2c2d2e; /* White text color */
  text-align: center;
  border-radius: 20px; /* Rounded corners */
  border: 1px solid #2c2d2e;
  font-size: 20px;
  transition: background-color 0.3s; /* Transition for hover effect */
  cursor: pointer; /* Change mouse cursor to pointer */
  text-decoration: none; /* Remove underline from anchors */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.submit-button:hover {
  background-color: #2fd556;
  color: #fff;
}
/* Responsive tweaks might be necessary for better appearance on all devices */
@media (max-width: 768px) {
  .event-card {
    margin: 0.5rem;
  }
}
